{% block head %}
set mouse=v
set number
set cursorline
set ic
set showcmd
set linebreak
set dy=lastline
set tabstop=4
set shiftwidth=4
set smarttab
set expandtab
set smartindent
set autoindent
set iminsert=0
set imsearch=0
set laststatus=2
set statusline=%f%m%r%h%w\ %y\ enc:%{&enc}\ ff:%{&ff}\ fenc:%{&fenc}%=(ch:%3b\ hex:%2B)\ col:%2c\ line:%2l/%L\ [%2p%%]
au BufRead /tmp/mutt-* set tw=72
filetype plugin indent on
set encoding=utf-8
set nocompatible
syntax enable
colorscheme desert
{% endblock %}
