server {
    listen 80;
    server_name www.{{ FQDN }};
    server_name {{ FQDN }};

    include le.conf;

    location / {
        if ($host = {{ FQDN }}) {
            return 301 https://$host$request_uri;
        }
    }
}
