upstream php {
    server unix:/run/php/php8.1-fpm.sock;
}

server {
    listen 80;
    server_name www.{{ inventory_hostname }};
    server_name {{ inventory_hostname }};

    include le.conf;

    location / {
        if ($host = {{ inventory_hostname }}) {
            return 301 https://$host$request_uri;
        }
    }
}

server {
    listen 443 ssl;
    server_name {{ inventory_hostname }};

    if ($host != {{ inventory_hostname }}) {
        return 444;
    }

    index index.php index.html index.htm;

    root /var/www/wordpress;
    access_log /var/log/nginx/{{ inventory_hostname }}-access.log;
    error_log /var/log/nginx/{{ inventory_hostname }}-error.log;
    resolver 1.1.1.1 8.8.8.8 ipv6=off valid=30s;
    server_tokens off;

    ssl_certificate /etc/nginx/certs/{{ inventory_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/{{ inventory_hostname }}/key.pem;
    ssl_session_cache shared:le_nginx_SSL:10m;
    ssl_session_timeout 1440m;
    ssl_session_tickets off;

    ssl_ciphers "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384";

    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header X-XSS-Protection "1; mode=block" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header Referrer-Policy "no-referrer-when-downgrade" always;
    add_header Content-Security-Policy "default-src * data: 'unsafe-eval' 'unsafe-inline'" always;
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        #limit_req zone=one burst=1;
        client_max_body_size 1000M;
        try_files $uri $uri/ /index.php$is_args$args;
        location ~* \.(js|css)$ {
            gzip on;
            gzip_types text/plain text/css application/json application/javascript;
            gzip_min_length 1000;
            gzip_proxied any;
            gzip_comp_level 6;
            gzip_vary on;
            gzip_disable "MSIE [1-6]\.";
            expires 1d;
            add_header Cache-Control "public";
            }
        }
        location ~ \.php$ {
            try_files $uri =404;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass php;
            fastcgi_index index.php;
            fastcgi_read_timeout 240;
            fastcgi_buffers 8 16k;
            fastcgi_buffer_size 32k;
            fastcgi_connect_timeout 90;
            fastcgi_send_timeout 90;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param PATH_INFO $fastcgi_path_info;
            client_max_body_size 1000M;
            #limit_req zone=oneB burst=600;
    }
    location ~ /\.ht {
        deny all;
    }
    location ~ /\.git {
        deny all;
    }
    location = /favicon.ico {
        log_not_found off; access_log off;
    }
    location = /robots.txt {
        add_header Content-Type text/plain;
        return 200 'User-agent: *\nDisallow: /\n';
        log_not_found off; access_log off; allow all;
    }
    location /nginx_status {
        stub_status;
        allow  159.224.176.54;
        deny all;
    }
}
