---
### Version 1.04
- name: Set root passwd
  ansible.builtin.user:
    name: root
    shell: /bin/bash
    password: "{{ PW_ROOT }}"
    state: present
    generate_ssh_key: yes
- name: Packages purge
  ansible.builtin.apt:
    pkg: ['exim4-config', 'portmap', 'rpcbind', 'cups', 'unbound', 'samba']
    state: absent
    autoremove: yes
- name: Install software
  ansible.builtin.apt:
    pkg: ['bind9', 'fail2ban', 'logrotate']
    state: present
    install_recommends: no
- name: Create config file
  ansible.builtin.template:
    src: danted.j2
    dest: /etc/danted.conf
    mode: 0644
- name: Install dante-server
  ansible.builtin.apt:
    name: dante-server
    state: present
    install_recommends: yes
  notify:
    - Started dante-server
- name: Create directory
  ansible.builtin.file:
    path: /etc/systemd/system/danted.service.d
    state: directory
    mode: '0755'
- name: Fix unit restart
  ansible.builtin.template:
    dest: /etc/systemd/system/danted.service.d/override.conf
    src: override.j2
    mode: 0644
- name: Systemd danted service up
  ansible.builtin.systemd:
    name: danted
    daemon_reload: yes
    state: started
    enabled: yes
    masked: no
  ignore_errors: true
- name: Create logrotate config
  ansible.builtin.template:
    dest: /etc/logrotate.d/sockd
    src: logrotate.j2
    mode: 0644
  ignore_errors: true
- name: Set ansible.builtin.hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
  ignore_errors: true
- name: Disable ipv6 listen for bind9
  ansible.builtin.lineinfile:
    dest: /etc/bind/named.conf.options
    state: present
    regexp: 'listen-on-v6'
    line: "\tlisten-on-v6 { none; };"
- name: Local resolver only
  ansible.builtin.lineinfile:
    dest: /etc/bind/named.conf.options
    state: present
    insertbefore: "listen-on-v6"
    line: "\tlisten-on { 127.0.0.1; };"
  notify:
    - Reload bind9
- name: Fix resolver
  ansible.builtin.template:
    dest: /etc/resolv.conf
    src: resolv.conf.j2
    mode: 0644
    backup: true
- name: Port is {{ SOCKS_PORT }}
  ansible.builtin.debug:
    msg: "{{ ansible_default_ipv4.address }}:{{ SOCKS_PORT }}"
