{% block head %}
<VirtualHost *:80>
    ServerName {{ FQDN }}
    ServerAdmin admin@{{ FQDN }}
    DocumentRoot /var/www/html
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
    RewriteEngine on
    RewriteCond %{SERVER_NAME} ={{ FQDN }}
    RewriteRule ^ https://{{ FQDN }}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
<IfModule mod_ssl.c>
<VirtualHost *:443>
    ServerName {{ FQDN }}
    ServerAdmin admin@{{ FQDN }}
    DocumentRoot /var/www/html
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
    Protocols h2 http/1.1
    Header always set Strict-Transport-Security "max-age=63072000"
    Header add Access-Control-Allow-Origin "*"
    Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
    Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
    SSLEngine on
    SSLProtocol all -SSLv2 -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    SSLHonorCipherOrder off
    SSLSessionTickets off
    SSLOptions +StrictRequire
    SSLUseStapling On
    SSLStaplingCache "shmcb:logs/ssl_stapling(32768)"
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\"" vhost_combined
    LogFormat "%v %h %l %u %t \"%r\" %>s %b" vhost_common
    SSLCertificateFile /etc/apache2/certs/{{ FQDN }}/fullchain.pem
    SSLCertificateKeyFile /etc/apache2/certs/{{ FQDN }}/key.pem
</VirtualHost>
</IfModule>
<Directory /var/www/html>
    Options -Indexes
    AllowOverride FileInfo
<Files admin-ajax.php>
    Order allow,deny
    Allow from all
    Satisfy any
</Files>
</Directory>
{% endblock %}
